:root {
  --ebco: #274889;
  --livsmart: #f36620;
  --worksmart: #696c6c;
  --logoheight: 84px;
}

* {
  font-family: "Ubuntu", "Raleway", "Open Sans", "Calibri", "Tahoma";
}

/* Article CSS Start */

/* Globals */
.flow {
  font-family: "ubuntu", "Inter", sans-serif;
  /*     max-width: 55rem; */
  /*     max-width: 95%; */
  padding: 2rem 7.5rem;
  margin: 0 auto;
  /*   color: #241623; */
  /*     background: #eef2f4; */
}

h1 {
  font-weight: 900;
  font-size: 2.7rem;
  max-width: 20ch;
}

.li {
  list-style-type: none;
}

/* li button{
  color:white;
  opacity: 1;
} */

/* Utilities */
.auto-grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 20rem), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 0);
  /*   padding: 0; */
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Composition */
.team {
  --flow-space: 2em;
}

/* Blocks */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: white;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
}

.profile::before,
.profile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

/* .profile::before {
  background: linear-gradient(
    to top,
    hsl(0 0% 0% / 0.79) 0%,
    hsl(0 0% 0% / 0.787) 7.8%,
    hsl(0 0% 0% / 0.779) 14.4%,
    hsl(0 0% 0% / 0.765) 20.2%,
    hsl(0 0% 0% / 0.744) 25.3%,
    hsl(0 0% 0% / 0.717) 29.9%,
    hsl(0 0% 0% / 0.683) 34.3%,
    hsl(0 0% 0% / 0.641) 38.7%,
    hsl(0 0% 0% / 0.592) 43.3%,
    hsl(0 0% 0% / 0.534) 48.4%,
    hsl(0 0% 0% / 0.468) 54.1%,
    hsl(0 0% 0% / 0.393) 60.6%,
    hsl(0 0% 0% / 0.31) 68.3%,
    hsl(0 0% 0% / 0.216) 77.3%,
    hsl(0 0% 0% / 0.113) 87.7%,
    hsl(0 0% 0% / 0) 100%
  );
  transition: 300ms opacity linear;
} */

.profile::after {
  /*     background: linear-gradient(
    45deg,
    hsl(5 97% 63% / 0.7) 0,
    hsl(5 97% 63% / 0) 100%
  ); */
  opacity: 0;
  transition: 300ms opacity linear;
}

.profile > * {
  z-index: 1;
}

.profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 0;
  object-fit: cover;
  /*     filter: grayscale(1); */
  transition: filter 200ms ease, transform 250ms linear;
}

.profile h2,
.profile p {
  transform: translateY(2ex);
  color: white; /* changed font color to while */
}

.profile h2 {
  font-size: 1.7rem;
  text-decoration: none; /* Not working */
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
}

.profile p {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.profile:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
  transform: none;
}

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
  opacity: 0.7;
}

.profile:hover p,
.profile:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.profile:hover img,
.profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(0deg);
}

.featuredproducts {
  padding: 50px 0px;
  margin: auto;
  text-align: center;

  font-size: xxx-large;
  color: var(--ebco);

  background: linear-gradient(
      to right,
      rgba(255, 215, 255, 0) 0%,
      rgba(225, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 61%
    ),
    linear-gradient(var(--ebco) 50%, var(--livsmart) 50%); /* you can change the colors based on your preference */
  background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text; /*for browsers compatibility */
  -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
  animation: wave 1000ms ease alternate infinite;
  transition: all 0.4s ease;
}
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40vw 40px;
  }
}

/* Article CSS End */

/* New Launches CSS Start */

.container1 {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 80vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.7s;
  margin: 0 0.4%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > a > img {
  width: 200%;
  /* height: calc(100% - 10vh); */
  height: calc(100%);
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.5s;
}

/*   .box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
} */

.box:hover {
  flex: 1 1 50%;
}

.box:hover > a > img {
  width: 100%;
  height: 100%;
}

/* .linkonhover{
  color: var(--livsmart);
} not using*/

/* New Launches CSS End */

/* Ebco CSS Start */

/* Style the video: 100% width and height to cover the entire window */

/* body{
  background-image: linear-gradient(to right, var(--ebco) , var(--worksmart), var(--livsmart));
} */

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: var(--livsmart);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--ebco);
  border-radius: 20px;
  /*   border: 3px solid orange; */
}

/* .myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} */

/* Add some content at the bottom of the video/page */
.content {
  position: absolute;
  top: 5px;

  color: white;
  font-size: large;
  width: 100%;
  padding: 5px;
  /*    background: rgba(0, 0, 0, 0.5); */
  /*   padding : calc(var(--logoheight) - 79px); */
  /*     padding : calc(var(--logoheight) - 79px); */
  /*     padding-left: 60px;
    padding-left: 60px; */
}

/* .inline-element {
  display: inline-block;
  text-align: center;
} */

.circleimage {
  margin: 8% 8%;
}

/* .circleimage:hover{
  background-image: 'img/banner/Circle_hover.png';
}
 */

/* @media only screen and (max-width: 1008px) {
  .circleimage{
    width: 100%;
  height:auto;
  }
} */

.carousel-caption {
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: white;
}

.carousel-item:hover .carousel-caption {
  opacity: 1;
}

video {
  width: 100%;
  height: auto;
}

a,
h5 a {
  color: white;
}

a:hover,
h5 a:hover {
  color: white;
}

.logo {
  position: fixed;
  z-index: 22;
  top: 5px;
  height: var(--logoheight);
  width: var(--logoheight);
  /*   width: calc(var(--logoheight) * 1.25); */
}

.logo-img {
  /*   max-width: 100%; */
  height: var(--logoheight);
  width: calc(var(--logoheight) * 1.25);
}

h3 {
  position: absolute;
  z-index: 2;
}

/* Hover Dropdown */
/* .dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
}
 */
.navbar a {
  text-align: left;
  color: white;
}

/* Sticky Class Designed to provide Sticky Property to the Navbar using JavaScript */
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */




.navbar .navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--livsmart);
  background-color: rgba(0, 0, 0, 0);
  transition: margin 0.1s;
  font-style: bold;
  /* opacity: .1; */
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0px;
  /*   top: calc(100% + 30px); */
  /*   top : calc(var(--logoheight) + 37 px); */
  padding: 10px 0;
  z-index: 1; /* try10 */
  /*     opacity: 0.6; */
  visibility: hidden;
  border: none;
  /*     background: #fff; */
  background-color: rgba(
    
    39,
    72,
    137,
    0.4
  ); /* background-color for navbar options */
  /* transition: 0.1s; */ /* looks good but create some fluctuation like view when hover in-out */
  /* width:100%; */
}

.navbar .dropdown:hover > ul {
  /*     opacity: .6; */
  visibility: visible;

  /* Adjust height of hovered dropdown menus */
  /*   top:81px;  */
  top: calc(var(--logoheight) + 1px);
}

.img-fluid-2 {
  width: 100%;
}

.featuredproducts1 {
  text-align: center;
  margin: auto;
  padding: 6% 0%;
  font-weight: 400;
  font-size: 48px;
  color: var(--ebco);
}

.newlaunch {
  padding: 8% 0% 0% 0%;
  margin: auto;
  text-align: center;

  font-size: xxx-large;
  color: var(--ebco);

  background: linear-gradient(
      to right,
      rgba(255, 215, 255, 0) 0%,
      rgba(225, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 61%
    ),
    linear-gradient(var(--ebco) 40%, var(--livsmart) 50%); /* you can change the colors based on your preference */
  background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text; /*for browsers compatibility */
  -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
  animation: wave 2000ms ease alternate infinite;
  transition: all 0.4s ease;
}

@keyframes wave {
  0% {
    background-position: 10 10;
  }
  100% {
    background-position: 40vw 40px;
  }
}

.newlaunch1 {
  display: inline-block; /* Newly added */
  text-align: center;
  margin: auto;
  padding: 17% 3%;
  font-weight: 400;
  font-size: 55px;
  vertical-align: top;
}

.newlaunch1head {
  background: linear-gradient(
      to right,
      rgba(255, 215, 255, 0) 0%,
      rgba(225, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 61%
    ),
    linear-gradient(var(--ebco) 40%, var(--livsmart) 50%); /* you can change the colors based on your preference */
  background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text; /*for browsers compatibility */
  -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
  animation: wave 1000ms ease alternate infinite;
  transition: all 0.4s ease;
}

@keyframes wave {
  0% {
    background-position: 10 10;
  }
  100% {
    background-position: 40vw 40px;
  }
}

.newlaunch1desc {
  text-align: center;
  padding: 1% 0% 0% 0%;
  font-weight: 200;
  font-size: 24px;
  color: black;
}

#no-underline {
  text-decoration: none;
}

#color-ebco {
  color: var(--ebco);
}

#color-livsmart {
  color: var(--livsmart);
}

#color-worksmart {
  color: var(--worksmart);
}

#navbar-menu-background {
/*   background-color: rgba(39, 72, 137, 0.4);
  padding-top: 0%;
  padding-left: var(--logoheight);
  z-index: 4;
  height: auto;  *//* Change this to match with logo height */
  /* background-color for top navbar */

  /* background-image: linear-gradient(to right, rgba(39,72,137, 1.0), rgba(39,72,137, 0.3), rgba(39,72,137, 0.1), rgba(39,72,137, 0.0)); */
  /* background-color for top navbar with gradient effect*/

  /*  background-color: var(--ebco); 
 */ /*   opacity: .6;  */

}

#navbar-top-links {
  padding: 30px 20px;
  color: white;
  width:fit-content;
}

#searchusercart {
  text-align: end;
}

#matchlogoheight {
  /*   height:79px; */
  height: var(--logoheight);
  background-color: rgba(39, 72, 137, 0.4);
  padding-top: 0%;
  padding-left: calc(var(--logoheight) + 40px);
  z-index: 4;
/*   height: auto; */
}

article div ul li {
  margin: 2px 2px;
}



/* Image Grid CSS Start */

div#quad {
  font-size: 0;
  width: 55%;
  display: inline-block; /* Newly added */
  margin: 4% 0% 10% 7%;
}
div#quad figure {
  margin: 3px;
  width: 49%;
  height: auto;
  transition: 0.3s;
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}
div#quad figure:hover {
  cursor: pointer;
  z-index: 4;
  color: brown;
}
div#quad figure img {
  width: 100%;
  height: 100%;
}

div#quad figure:nth-child(1) {
  transform-origin: top left;
}
div#quad figure:nth-child(2) {
  transform-origin: top right;
}
div#quad figure:nth-child(3) {
  transform-origin: bottom left;
}
div#quad figure:nth-child(4) {
  transform-origin: bottom right;
}

div#quad figure figcaption {
  margin: 0;
  opacity: 0;
  background: rgba(0, 0, 0.1, 0.1);
  color: #fff;

  padding: 0.3rem;
  font-size: 0.8rem;
  font-family: system-ui;
  position: absolute;
  bottom: 1%;
  width: 100%;
  transition: 0.5s 0.5s opacity;
}

/* div#quad figure figcaption:hover {
    color: brown;
    Not Working
  } */

.expanded {
  transform: scale(2);
  z-index: 5;
  margin: 0px;
}
div#quad figure.expanded figcaption {
  opacity: 1;
}
div.full figure:not(.expanded) {
  pointer-events: none;
  width: 100%;
}

/* #itemlink{
    text-decoration: none !important; 
    color: white !important;
    Not Working
  } */

/* Image Grid CSS End */
