@font-face {
  font-family: "Uniform";
  font-style: normal;
  font-weight: normal;
  src: url("/font/Uniform.otf") format("opentype");
}

body {
  margin: 0;
  font-size: 1em;
  font-family: "Uniform", Tahoma, 'calibri';
  scrollbar-width: thin;
}

/* @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); */

/* @font-face {
  font-family: 'Uniform';
  font-style: normal;
  font-weight: normal;
  src: url("font/Uniform.otf") format("opentype");
} */

:root {
  --navbarcolor: rgba(39, 72, 137, 0.8);
  --linkscolor: white;
  --ebcocolor: #274889;
  --livsmartcolor: #f36620;
  --worksmartcolor: #696c6c;
  --headerheight: 3em;
  --headerwidth: 100%;
  --logoleft: 1.5vw;
  --logowidth: 7.5vw;
  --mainnavbarwidth: auto;
  --rightnavbarwidth: 40vw;
  /* --logowidth: calc(var(--headerheight) * 1.3); */
  /* --rightnavbarwidth: fit-content; */
  /*   --carousel2width: 100vw; */
  /*   --carousel2height: 100vh; */
  /* --carousel2height: 90vh; */
  /*   --carousel2height: calc(var(--carousel2width) * 0.5625); */
  /* 16:9 video ratio */
  /* --carousel2height: calc(var(--carousel2width) * 0.5067 ); */
  /* 1200:608 video ratio */
  /* --navbarcolor : linear-gradient(to right, red , yellow);  change background-color to background-image*/
}

/* ======================================== Scrollbar CSS Start ======================================== */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bec4c4;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

/* Hide scrollbar for Chrome */
/* body::-webkit-scrollbar {
  display: none;  
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* body{
-ms-overflow-style: none;
scrollbar-width: none;  
} */
/* ========================================================= Scrollbar CSS End | Header Start ========================================================= */

#header-parent-div {
  display: flex;
}

.header {
  background-color: var(--navbarcolor);
  height: var(--headerheight);
  min-height: 52px; /* Remove this, this creates lot of issues */
  width: var(--headerwidth);
  grid-template-columns: calc(var(--logoleft) + var(--logowidth)) var(--mainnavbarwidth) var(--rightnavbarwidth);
  z-index: 999;
  display: flex;
  position: fixed;
  /* position: absolute; */
  /* Remove this to get carousel below header */
}

/* .header:hover{
  background-color: var(--navbarcolor);
} */

.logo-area {
  display: flex;
  width: 50%;
}

.logo,
.logo-img {
  width: var(--logowidth);
  height: var(--logowidth);
  min-height: 64px;
  min-width: 64px;
  /* position: absolute; */
  position: fixed;
  left: var(--logoleft);
  z-index: 99999;
}

#checkthis{
  display: none;
}

.mainnavbar {
  /* background-color: var(--navbarcolor); */
  /* margin: 0 0 0 3em; */
  /* Shift navbar to right */
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  width: 100%;
  justify-content: center;
  /* Align main-navbar link to left, center or right */
  /* padding: 0 0 0 2em; */
}

/* div.mainnavbar:hover +  .rightnavbar  {
    visibility: hidden;
  }
 */

.mainnavbarlinklabel {
  align-self: center;
  padding: 0 15px;
  color: var(--linkscolor);
}

#mainnavbar-ebco,
#mainnavbar-worksmart,
#mainnavbar-livsmart {
  display: flex;
  /* display: grid; -->  grid also fits well*/
  align-self: center;
  grid-auto-flow: column;
  text-align: center;
  align-items: center;
  padding: 0px 15px;
  height: var(--headerheight)
}

/* ============ Check this ============ */
/* #mainnavbar-worksmart-outerdiv,
#mainnavbar-livsmart-outerdiv{
  display: flex;
} */

button.link {
  height: var(--headerheight);
  /* width:var(--headerheight); */
}

/* button.link svg {
  height: 20px;
  width: 20px;
  padding: 2px 2px 2px 2px;
} */

.mainnavbar-btn-logo {
  height: calc(var(--headerheight) * 0.4);
  width: calc(var(--headerheight) * 0.4);
  max-height: 70px;
  padding: 0 0 0 10px;
}

/* Imp : Replace hover with active for click operations */
/* Below is for all applying same color for all link  */
/* .dropdown:hover>.link,
.link:hover {
  color: var(--livsmartcolor);
}*/

/* Imp : Replace hover with active for click operations */
/* Below is for giving separate color for all link */
.dropdown:hover>#mainnavbar-ebco,
#mainnavbar-ebco:hover {
  color: var(--livsmartcolor)
}

.dropdown:hover>#mainnavbar-worksmart,
#mainnavbar-worksmart:hover {
  color: var(--livsmartcolor)
}

.dropdown:hover>#mainnavbar-livsmart,
#mainnavbar-livsmart:hover {
  color: var(--livsmartcolor)
}

#rightnavbar-links {
  padding: 0 5px;
}

.dropdown:hover>#rightnavbar-links,
#rightnavbar-links:hover {
  color: var(--ebcocolor)
}

.dropdown:hover>#rightnavbar-shop,
#rightnavbar-shop:hover {
  color: var(--livsmartcolor)
}

.dropdown-heading {
  padding-bottom: 0.8em;
  margin-bottom: 0.8em;
  color: var(--livsmartcolor);
  border-bottom: var(--livsmartcolor) 1px solid;
  font-weight: bold;
  font-size: 1.0em;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  /*   color: #777; */
  color: var(--linkscolor);
  font-family: inherit;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0;
  width: auto;
}

.dropdown {
  position: relative;
}

/* Link hover changes */

.dropdown-links>.link {
  box-shadow: inset 0 0 0 0 white;
  color: white;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.dropdown-links>.link:hover {
  box-shadow: inset 40em 0 0 0 white;
  color: var(--ebcocolor);
}

/* Link hover changes */


.dropdown-menu {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  /* This needs to be dynamic */
  grid-template-rows: repeat(2, max-content);
  /* This needs to be dynamic */
  gap: 1rem;

  /* position: absolute; */
  /* ===== Dropdown Down ==== Try changing this ==== */
  /* display: none; */
  /* position: absolute; */
  left: 0;
  top: var(--headerheight);
  /* width: 80vw; */
  /* Width of submenu links mainnavbar */
  /* width: auto; */
  background-color: var(--navbarcolor);
  padding: 0.75rem;
  /* border-radius: 0.25rem; */
  /* box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1); */
  opacity: 0;
  /* transform: translateY(-35px); */
  /* transform: translateY(calc(        55px              - var(--headerheight))); */
  transform: translateY(calc(calc(var(--headerheight) - 10px) - var(--headerheight)));
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  pointer-events: none;

  position: fixed;
  /* left: 0px; */
  /* top: 38px; */
  width: 100%;
  justify-content: center;
}

@media only screen and (min-width: 1100.01px) {


  /* :hover for hover oprations & .active for click operations */
  .dropdown:hover>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    background-color: var(--navbarcolor);
    position: fixed;
    /* position: absolute; */
    /* ===== Dropdown Up ==== Try changing this ==== */
    left: 0px;
    /* top: var(--headerheight); */
    top: calc(var(--headerheight)*3.25/3);
    width: 100%;
    /* height: 50vh; */
    /* max-height: 50vh; */
    /* justify-content: center; */
  }

}

.dropdown-area {
  width: 12.25vw;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9em;
}

/* .logn-form > input {
    margin-bottom: 0.5rem;
    justify-content: center;
  } */

.rightnavbar {
  /* background-color: var(--navbarcolor); */
  /* display: inline-block; */
  /* background-color: var(--navbarcolor); */
  display: flex;
  width: 120%;
  flex-direction: row;
  justify-content: right;
  /* padding: 0 1vw 0 0; */
}

.searchBox {
  position: relative;
  top: 50%;
  /* left: 86vw; */
  /* left: 80vw; */
  /* margin: 2vw 10.5vw 0 0; */
  padding-right: 30px;
  transform: translate(00%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox input {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  width: 0;
  padding: 0;
  opacity: 0;
  border-radius: 2px;
  line-height: 35px;
  font-size: 18px;
  color: #fff;
  transition: all 0.5s;
}

.searchBox input::placeholder {
  color: rgba(255, 255, 255, .5);
  font-weight: 400;
}

.searchBox svg {
  background-color: transparent;
  width: 25px;
  height: 25px;
  padding: 1px 0 0 10px;
  border-radius: 5%;
  color: white;
  /* text-align: center; */
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all .5s;
}

.searchBox:hover input {
  width: 15vw;
  opacity: 1;
  padding: 5px 20px;
}

.searchBox:hover i {
  color: #fff;
}

.login-form {
  text-align: end;
  padding: 0 0;
}

.login-form-label {
  color: var(--linkscolor);
  padding: 0 15px;
}

form.input {
  margin: 4px 0;
}

.loginbtn,
.searchbtn {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
  margin: 10px 0;
  color: white;
  border: none;
  font-size: 1em;
}


.search-text {
  width: 70%;
  height: 27px;
  padding-top: 3px;
  padding-right: 5px;
}


#email,
#password {
  margin: 2px 0;
  padding: 5px 0;
  font-size: 0.8em;
  width: -webkit-fill-available;
}

.registerlink {
  text-decoration: none;
  color: white;
  padding-right: 1em;
}

.slant-div-1 {
  background-color: var(--livsmartcolor);
  width: 5em;
  position: relative;
  /* background: maroon; */
  display: flex;
  /* color: white; */
  /* padding: .24em .3em .25em; */
  z-index: 9;
}

.slant-div-1 {
  &:after {
    position: absolute;
    z-index: -1;
    content: "";
    right: -23%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: inherit;
    -webkit-transform: skewX(-23deg);
    -moz-transform: skewX(-23deg);
    -ms-transform: skewX(-23deg);
    transform: skewX(-23deg);
  }
}

.slant-div-1 {
  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    left: -23%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: inherit;
    -webkit-transform: skewX(-23deg);
    -moz-transform: skewX(-23deg);
    -ms-transform: skewX(-23deg);
    transform: skewX(-23deg);
  }
}

.slant-div-1 button {
  justify-content: center;
  align-self: center;

}



.slant-div-2 {
  width: 5em;
  padding-left: 30px;
  display: flex;
  background-color: var(--worksmartcolor);
}

.slant-div-2 button {
  justify-content: center;
  align-self: center;
}

/* ======================================================= Toggler Start ======================================================= */

.nav-toggler, .nav-toggler2 {
  display: none;
  min-height: calc(var(--headerheight)/1.2);
  min-width: calc(var(--headerheight)/1.2);
  position: absolute;
  align-self: center;
  right: 20px;
}




/* .nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
} */

/* ======================================================= Toggler End ======================================================= */
/* ========================================================= Header End | Carousel1 Start ========================================================= */

.carousel2slider {
  width: 100%;
  padding-top: 54vw;
  height: 0px;
  position: relative;
  place-items: center;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.carousel2slide {
  position: absolute;
  transition: all 1s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill;
}

.carousel2slide>video {
  /*   width: var(--carousel2width);
  height: var(--carousel2height);
 */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill;
}

.carousel2slide img {
  width: var(--carousel2width);
  height: var(--carousel2height);
  object-fit: fill;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

/* ========================================================= Carousel1 End ========================================================= */

.scroll-down-arrow {
  display: none; /* Remove this when required */
  opacity: 0.8;
  color: white;
  font-size: 48px;
  position: absolute;
  margin-top: -48px;
  z-index: 4;
  left: 50vw;
  text-align: center;
}

/* ========================================================== Cover Grid Area Start ========================================================== */
.cover-grid-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid red; */
  /* margin-top: 2%; */
  padding: 0.5% 0 0 0;
}

.all-area-body {
  height: 30vw;
  /* border: 1px solid black; */
  text-align: end;
  /*   margin: 3px; */
  padding: 0.5% 0.5% 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* margin-block-start: 0em; */
  transition: 0.25s ease-in-out;
}



.all-area-body:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.sub-title-div {
  margin-bottom: 4%;

}

.sub-title-span {
  /* display: inline-block; */
  color: white;
  font-size: 1em;
  /*   background-color: rgba(0, 0, 0, 0.6); */
  /* background-color: var(--navbarcolor); */
  background-color: rgba(0, 0, 0, 0.3);
}

.ebco-area-body {
  background-image: url("/img/brand-pages/ebco/ebco-4x3.png");
  margin-right: 0.5%;
  margin-bottom: 1%;
}

.worksmart-area-body {
  background-image: url("/img/brand-pages/worksmart/worksmart-4x3.png");
  margin-left: 0.5%;
  margin-bottom: 1%;
}

.livsmart-area-body {
  background-image: url("/img/brand-pages/livsmart/livsmart-16x9.png");
  grid-column: span 2;
  margin-bottom: 1%;
}

.all-area-explore {
  /*   width: 10vw; */
  /* margin-top: 5%; */
  text-decoration: none;
  color: black;
  padding: 0.5% 2%;
  cursor: pointer;
  font-weight: bold;
  /*   height: 2vw; */
  border: solid 2px black;
  border-radius: 2px;
  /* background: rgba(255, 255, 255,0); */
  background-color: rgba(255, 255, 255, 0.3);
  /* font-size: 25px; */
  font-size: 1.2vw;
}

.all-area-explore:hover {
  background: rgba(0, 0, 0, 0.3);
  border: solid 1px rgba(0, 0, 0, 0.3);
  color: white;
}

/* ========================================================== Cover Grid Area End ========================================================== */
/* ========================================================= New Launches Start ========================================================= */
.section-heading {
  text-align: center;
  font-size: 4vw;
  padding: 7vw 0 0 0;
}

.section-subheading {
  text-align: center;
  font-size: 2vw;
  padding: 2vw 0;
}

/* ========================================================= New Launches End ========================================================= */
/* ========================================================= Random Grid Start ========================================================= */
/* .random-grid-heading {
  color: white;
  text-align: center;
} */
/* 
.random-grid-body {

  height: 100vh;
  display: flex;
  display: none;
}

.random-grid-body .wrapper div {
  transition: 0.25s ease-in-out;
}

.random-grid-body .wrapper div:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 22% 22% 22% 22%;
  margin: 0%;
  padding: 4%;
}

.wrapper div {
  border: 1px solid black;
  height: 295px;
  width: 295px;
  margin: 5px;
  color: black;
  text-decoration: inherit;
  text-align: center;
  background-color: darkgray;
  background-size: cover;
}

.random-grid-element-caption{
  color:white;
  display: block;
  width: inherit;
  position: absolute;
  padding: 0 auto;
  text-align: center;
  margin: auto;
  text-decoration: none;
  background-color:#888;
}

 */
.random-grid-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 0 1% 2% 1%; */
  /*  justify-content: space-between; */
}

.random-grid-item {
  /*   flex-basis:100px; */
  /* flex-grow: 0; */
  /* flex-shrink:0; */
  display: block;
  margin: 0.3%;
  background-color: #888;
  background-size: cover;
  background-repeat: no-repeat;
  width: 48.5vw;
  min-width: 100px;
  height: 27.28125vw;
  min-height: 200px;
  /* min-height:100px */
  ;
  /* justify-content: center; */
  text-align: center;
  /* padding-bottom: 24%; */
  /* Same as width, sets height */
  /* margin-bottom: 1%; */
  /* (100-24*4)/2 */
  position: relative;
  transition: 0.25s ease-in-out;
}

.random-grid-item:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.random-grid-item img {
  width: 20vw;
  height: 20vw;
  left: 0px;
  position: absolute;
}

.random-grid-item label {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 25px 5px 25px;
  font-size: 1.75vw;
}

.random-grid-item span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

#random-grid-bedroom {
  background-image: url("../img/area-pages/bedroom/bedroom-1.jpg");
}

#random-grid-wfh {
  background-image: url("/img/area-pages/wfh/wfh-11.jpg");
}

#random-grid-kitchen {
  background-image: url("/img/area-pages/kitchen/kitchen-11-16x9.jpg");
}

#random-grid-living {
  background-image: url("/img/area-pages/living/living-16x9.jpg");
}

/* ========================================================= Random Grid End ========================================================= */
/* ========================================================= Icon Box Slider Start ========================================================= */

.iconboxslider {
  width: 100%;
  margin: auto;
  display: flex;
  /* height: 200px; */
  height: auto;
  max-height: auto;
  overflow-y: hidden;
  overflow-x: scroll !important;
  /* padding: 16px; */
  transform: scroll(calc(var(--i, 0) / var(--n) * -100%));
  scroll-behavior: smooth;
  /* z-index: 5; */
  padding: 1em 0 3em 0;
}

.iconboxslider::-webkit-scrollbar {
  height: 5px;
  width: 150px;
  display: none;
}

.iconboxslider::-webkit-scrollbar-track {
  background: transparent;
}

.iconboxslider::-webkit-scrollbar-thumb {
  background: #888;
}

.iconboxslider::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.iconboxslider img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.iconboxslide {
  position: relative;
}

.iconboxslide img {
  /* height: 300px;
  width: 300px; */
  height: 20vw;
  width: 20vw;
  margin: 0 4px;
  object-fit: cover;
  /* border-radius: 15px; */
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.control-prev-btn,
.control-next-btn {
  position: absolute;
  margin: 125px 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  width: 40px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  color: #444;
  cursor: pointer;
  z-index: 55;
}

.control-prev-btn {
  left: 0;
}

.control-next-btn {
  right: 0;
}

/* 
.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}
 */

.iconboxslide img.zoomed {
  width: 500px;
  height: 600px;
  position: fixed;
  left: 25%;
  top: 0%;
  z-index: 1000;
  transform: scale(1) translatey(0) !important;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  display: none;
}

.overlay.active {
  display: block;
}


@media only screen and (max-width: 420px) {
  .iconboxslider {
    padding: 0;
  }

  .iconboxslide {
    padding: 16px 10px;
  }

  .iconboxslide img {
    margin: 0;
  }

  .control-prev-btn {
    top: 37%;
  }

  .control-next-btn {
    top: 37%;
  }
}

.img_label {
  text-align: center;
  margin: 2% 10%;
}

/* @import "https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap";
 body {
   width: 100%;
   margin: 0;
   padding: 0;
   font-family: open sans;
   /* background: #f8f8f8; */

/*} */
/* h3 {
   text-align: center;
   margin: 6% auto;
   font-size: 1.8rem;
   font-weight: 800;
   color: #444;
} */

/* ========================================================= Icon Box Slider End ========================================================= */
/* ========================================================= Footer Start ========================================================= */

.footer-body {
  display: flex;
  font-size: 2.5vw;
  color: white;
  justify-content: center;
  padding-top: 2vw;
  height: 8vw;
  background-color: var(--worksmartcolor);
}



/* ========================================================= Footer End ========================================================= */

/* ================================================= Shop by room grid area Start ================================================= */


/* ================================================= Shop by room grid area Start ================================================= */