@font-face {
    font-family: "Uniform";
    font-style: normal;
    font-weight: normal;
    src: url("/font/Uniform.otf") format("opentype");
}

* {
    font-family: "Uniform", calibri;
}

:root {
    --ebcocolor: #124f90;
    --navbarcolor: rgba(39, 72, 137, 0.9);
    --linkscolor: white;
    --ebcocolor: #274889;
    --livsmartcolor: #f36620;
    --worksmartcolor: #696c6c;
    --headingcolor: rgb(228, 135, 98);
    --headerheight: 4vw;
    --headerwidth: 100%;

    /* --logowidth: calc(var(--headerheight) * 1.3); */

    --logoleft: 1.5vw;
    --logowidth: 7.5vw;
    --mainnavbarwidth: auto;
    --rightnavbarwidth: 24vw;
}

body {
    /* width: 100%; */
    margin: 0;
    height: 100vh;
}

/* Hide scrollbar for Chrome */
body::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* ============================================================== Logo Start ============================================================== */

#product-logo {
    display: none;
    float: right;
}

#product-logo img {
    width: 280px;
    height: 70px;
}

/* ======================================================= Logo End | Carousel Start ======================================================= */

.container-grid {
    margin-top: 10vw;
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 1fr 0.5fr;
}

.carousel1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0 0 0 0.5vw;
    /* margin: 8vw 1vw 0 0.5vw; */
    /* justify-self: left; */
    width: 29vw;
    max-width: 30vw;
    height: 29vw;
    max-width: 29vw;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.product-imgs img {
    width: 29vw;
    max-width: 800px;
    height: 29vw;
    position: absolute;
    transition: all 0.5s;
}

.product-imgs img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pro-page-btn {
    position: absolute;
    width: 3vw;
    height: 3vw;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
}

.pro-page-btn img {
    position: absolute;
    width: 1.5vw;
    left: 0.8vw;
    top: 1vw;
}

.btn:active {
    transform: scale(1.15);
}

.btn:hover {
    transform: scale(1.15);
}

.pro-page-btn-prev {
    top: 45%;
    left: 2%;
}

.pro-page-btn-next {
    top: 45%;
    right: 2%;
}



/* ==================================================== Carousel End | Accordion Start ==================================================== */

.container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    position: absolute;
    /* margin: 4vw 0 0 0.5vw; */
    justify-self: right;
    /* width: 68vw; */
    width: 68vw;
    max-width: 69vw;
}

.product-title {
    /* margin-top: 2em; */
    margin-bottom: 1em;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--ebcocolor);
}

.element {
    padding-left: 1vw;
    background: white;
    color: var(--ebcocolor);
    margin: 5px 15px 5px 0;
    border-top: 1px solid var(--ebcocolor);
    border-radius: 0px;
}

.element .question {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

#desc-title,
#specs-title,
#fit-instruct-title,
#pack-chart-title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 15px 0;
    width: 100%;
}

.question label {
    cursor: pointer;
}

/* .question label{
     box-shadow: inset 0 0 0 0 rgba(18, 79, 144, 0.9);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.question label:hover{
     box-shadow: inset 40em 0 0 0 rgba(18, 79, 144, 0.9);
    color: white;
} */

.question button {
    border: none;
    outline: none;
    background: none;
    float: right;
}

.question i {
    color: var(--ebcocolor);
    font-size: 20px;
}

#product-specs,
#product-pack-chart {
    /* border: 1px solid var(--ebcocolor);  */
    /*     width: 75%; */
    min-width: 60%;
    min-height: 5vw;
    text-align: center;
    vertical-align: middle;
}

/* All border */
/* td {
    border: 1px solid var(--ebcocolor);
    color: black;
    border-collapse: collapse;
} */

/* All inner border */
table {
    border-collapse: collapse;
}

table td {
    border: 1px solid var(--ebcocolor);
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}


.element .answer {
    padding: 1px 20px 5px 20px;
    animation: animate .7s;
    color: black;
}

.hideText {
    display: none;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#product-fit-instru img {
    padding-top: 1vw;
    max-width: 80%;
    margin: 1em 0;
}

.btn-area {
    padding: 5em 1em 1em 0em;
}

.btn-area button {
    /* text-transform: uppercase; */
    padding: 0.5em 1em;
    margin: 0 0.5em;
    font-size: 1.2vw;
    font-weight: bold;
    background-color: transparent;
    border-color: var(--ebcocolor);
}

.btn-area button label {
    padding-left: 7px;
}

/* ========================================== Accordion End | Empty Area Start ========================================== */
.empty-area {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* ========================================== Empty Area End | Button Area Start ========================================== */
.btn-area {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* ========================================== Button Area End | Iframe Area Start ========================================== */

iframe {
    display: none;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;    
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
    
  }
  
  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -40%;
    padding: 7px;
    width: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: left;
    font-size: 0.8vw;
    line-height: 1.2;
  }
  
  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
  
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

/* =================================================== Iframe Area End =================================================== */
/* ================================================== Responsive Start ================================================== */
@media only screen and (max-width: 1100px) {

    body{
        height: 100vh;
    }

    .container-grid {
        display: block;
    }

    .container {
        width: 98vw;
        max-width: 98vw;
        margin-left: 1vw;
    }

    .product-title {
        margin-bottom: 4vw;
        font-size: 7vw;
        text-align: center;
    }

    .question label {
        font-size: 14vw;
    }

    #desc-title,
    #specs-title,
    #fit-instruct-title,
    #pack-chart-title {
        font-size: 3vw;
    }

    .element {
        border-top: 1px solid #bec4c4;
        margin: 0;
    }

    .pro-page-btn img {
        position: absolute;
        width: 2.5vw;
        left: 1.2vw;
        top: 1.6vw;
    }

    .pro-page-btn-prev {
        left: 22vw;
    }

    .pro-page-btn-next {
        right: 22vw;
    }

    table td {
        padding: 5px 10px;
        font-size: 3vw;
    }

    ul {
        padding-inline-start: 4px;
        margin-block-start: 0;
        margin-block-start: 1px;
    }

    ul li {
        font-size: 3vw;
    }

    .carousel1 {
        width: 100%;
        height: 30vh;
        max-width: 100%;
        margin-bottom: 2vh;
    }


    .btn-area {
        display: flex;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        background: white;
        padding: 1vw;
        width: 97vw;
        margin-top: 32vh;
    }


    #product-fit-instru img {
        max-width: 100%;
    }

    .btn-area button {
        /* text-transform: uppercase; */
        display: flex;
        padding: 2vw 4vw;
        margin: 2vw;
        /* display: block; */
        font-size: 2vw;
        border: 1px solid var(--ebcocolor);
    }

    

    [data-tooltip]:before {
        bottom: 65px;
        font-size: 2vw;
        width: 100%;
        left: 35%;
    }

    /* Triangular mark */
    [data-tooltip]:after {
        bottom: 116%;
        left: 50%;
        font-size: 3vw;
/*         border-top: 0px solid hsla(0, 0%, 20%, 0.9);
        border-bottom: 5px solid hsla(0, 0%, 20%, 0.9); */
      }

}
/* ================================================== Responsive End ================================================== */
