.ticketsbody{
    font-family: 'Homemade Apple', cursive;
    font-size:20px;
/*     background:url('/img/60-years-web-banner.jpg'); */
    background-size:cover;
    background-repeat:repeat;
    color:#000;
  }
  
  .ticketsul{
    position:absolute;
    margin:0;
    padding-left:80px;
    padding-bottom:180px;
    padding-top:80px;
  }
  
  .ticketsli{
    text-align:center;
    display:inline-block;
    list-style:none;
    position:relative;
    border:solid 12px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px #555;
    transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    top:50px;
  }
  
  
  .ticketsli:hover{
    top:0px;
    opacity:0.5;
  }
  
  .ticketsli:nth-child(1){
      transform:rotate(10deg);
  }
  
  .ticketsli:nth-child(2){
      transform:rotate(0deg);
  }
  
  .ticketsli:nth-child(3){
      transform:rotate(-10deg);
  }
  
  .ticketsli:nth-child(4){
    transform:rotate(20deg);
}
.ticketsli:nth-child(5){
  transform:rotate(-20deg);
}
.ticketsli:nth-child(6){
  transform:rotate(15deg);
}

  .ticketsp{
    margin:-5px 0 0 0;
  }
  
  .light{
    border-radius:50%;
    position:absolute;
    left:0;
    right:0;
    width:700px;
    height:700px;
    background:#fff;
    filter:blur(100px);
    opacity:0.3;
    pointer-events:none;
  }