.main {
    font-family: calibri;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 1vw;
    color: #124f90;
}

.header {
    padding: 1vw;
}



#product-title {
    font-size: 4vw;
    float: left;
    font-weight: bold;
    padding: 1.5vw 0 1.5vw 0;
}

#product-logo {
    float: right;
}

#product-logo img {
    width: 280px;
    height: 70px;
}

#desc-title {
    font-weight: bold;
    font-size: 1.3em;
    padding: 3vw 0 0 0;
}

#specs-title,
#fit-instruct-title {
    font-weight: bold;
    font-size: 1.3em;
    padding: 2vw 0 0.5vw 0;
}

#product-imgs {
    display: flex;
}


#product-imgs img {
    padding: 5px;
    max-height: 300px;
    max-width: 300px;
}

#product-specs {
    max-width: 80vw;
    text-align: center;
    min-width: 50vw; 
    min-height: 5vw; 
}

td {
    border: 1px dotted black;
    padding: 2px 8px;
}

div button{
    display: none; 
}

#product-fit-instru img{
    max-width: 90vw;   
}