
/* =============================================================== Header Start =============================================================== */


.header {
    background-color: var(--navbarcolor);
    height: var(--headerheight);
    min-height: 52px;
    width: var(--headerwidth);
    grid-template-columns: calc(var(--logoleft) + var(--logowidth)) var(--mainnavbarwidth) var(--rightnavbarwidth);
    z-index: 999;
    display: grid;
    position: fixed;

    /*   position: absolute; */
    /* Remove this to get carousel below header */
}



.logo,
.logo-img {
    width: var(--logowidth);
    height: var(--logowidth);
    min-height: 52px;
    /* position: absolute; */
    position: fixed;
    left: var(--logoleft);
    z-index: 99999;
}

.mainnavbar {
    /* background-color: var(--navbarcolor); */
    /* margin: 0 0 0 3em; */
    /* Shift navbar to right */
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    width: auto;
    justify-content: center;
    /* Align main-navbar link to left, center or right */
    /* padding: 0 0 0 2em; */
}


/* div.mainnavbar:hover +  .rightnavbar  {
      visibility: hidden;
    }
   */


.mainnavbarlinklabel {
    align-self: center;
    padding: 0 15px;
    color: var(--linkscolor);
}

#mainnavbar-ebco {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
    padding: 0px 15px 0px 100px;
    height: var(--headerheight)
}

#mainnavbar-worksmart {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
    padding: 0px 15px;
    height: var(--headerheight)
}

#mainnavbar-livsmart {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
    padding: 0px 100px 0px 15px;
    height: var(--headerheight);
}

button.link {
    height: var(--headerheight);
    /* width:var(--headerheight); */

}

.mainnavbar-btn-logo {
    height: calc(var(--headerheight) * 0.55);
    width: calc(var(--headerheight) * 0.55);
    max-height: 70px;
    padding: 0 0 0 5px;

}

#links-link:hover {
    color: var(--ebcocolor);
}

.dropdown:hover>.link,
.link:hover {
    color: var(--ebcocolor);
    /* color: orangered; */
}

.dropdown-heading {
    padding-bottom: 0.8em;
    margin-bottom: 0.8em;
    color: var(--headingcolor);
    border-bottom: var(--headingcolor) 1px solid;
    font-weight: bold;
    font-size: 1.0em;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    /*   color: #777; */
    color: var(--linkscolor);
    font-family: inherit;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0;
    width: auto;
}

/* Replace hover with active for click operations */
.dropdown:hover>.link,
.link:hover {
    color: var(--headingcolor);
    /* color: orangered; */
}

.dropdown {
    position: relative;
}

/* Link hover changes */

.dropdown-links>.link {
    box-shadow: inset 0 0 0 0 white;
    color: white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.dropdown-links>.link:hover {
    box-shadow: inset 40em 0 0 0 white;
    color: var(--ebcocolor);
}

/* Link hover changes */


.dropdown-menu {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    /* This needs to be dynamic */
    grid-template-rows: repeat(2, max-content);
    /* This needs to be dynamic */
    gap: 1rem;

    /* position: absolute; */
    /* =====================Dropdown Down========= Try changing this ============================== */
    /* display: none; */
    /* position: absolute; */
    left: 0;
    top: var(--headerheight);
    /* width: 80vw; */
    /* Width of submenu links mainnavbar */
    /* width: auto; */
    background-color: var(--navbarcolor);
    padding: 0.75rem;
    /* border-radius: 0.25rem; */
    /* box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1); */
    opacity: 0;
    /* transform: translateY(-35px); */
    /* transform: translateY(calc(        55px                     - var(--headerheight))); */
    transform: translateY(calc(calc(var(--headerheight) - 10px) - var(--headerheight)));
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    pointer-events: none;

    position: fixed;
    /* left: 0px; */
    /* top: 38px; */
    width: 100%;
    justify-content: center;
}

/* :hover for hover oprations & .active for click operations */
.dropdown:hover>.link+.dropdown-menu {
    /* Use hover for click operation */
    opacity: 1;
    transform: translateY(0);

    pointer-events: auto;
    /* background-color: rgba(0,0,0,0.1); */
    background-color: var(--navbarcolor);

    /* position: fixed;
        left: 0px;
        top: 38px; */

    position: fixed;
    /* position: absolute; */
    /* ============ =========Dropdown Up========= Try changing this ============================== */
    left: 0px;
    top: var(--headerheight);
    width: 100%;
    /* height: 50vh; */
    /* max-height: 50vh; */
    /* justify-content: center; */
}

.dropdown-area {
    width: 12.25vw;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 0.9em;
}

/* .logn-form > input {
      margin-bottom: 0.5rem;
      justify-content: center;
    } */

.rightnavbar {
    /* background-color: var(--navbarcolor); */
    /* display: inline-block; */
    /* background-color: var(--navbarcolor); */
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* padding: 0 1vw 0 0; */
}


.login-form {
    text-align: end;
    padding: 0 0;
}

.login-form-label {
    color: var(--linkscolor);
    padding: 0 15px;
}

form.input {
    margin: 4px 0;
}

.loginbtn,
.searchbtn {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    margin: 10px 0;
    color: white;
    border: none;
    font-size: 1em;
}

.search-text {
    width: 70%;
    height: 27px;
    padding-top: 3px;
    padding-right: 5px;
}

.registerlink {
    text-decoration: none;
    color: white;
}

.slant-div-1 {
    position: relative;
    /* background: maroon; */
    display: inline-block;
    /* color: white; */
    /* padding: .24em .3em .25em; */
    z-index: 9;

}

.slant-div-1 {
    &:after {
        position: absolute;
        z-index: -1;
        content: "";
        right: -10%;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: inherit;
        -webkit-transform: skewX(-10deg);
        -moz-transform: skewX(-10deg);
        -ms-transform: skewX(-10deg);
        transform: skewX(-10deg);
    }
}

.slant-div-1 {
    &:before {
        z-index: -1;
        content: "";
        position: absolute;
        left: -10%;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: inherit;
        -webkit-transform: skewX(-10deg);
        -moz-transform: skewX(-10deg);
        -ms-transform: skewX(-10deg);
        transform: skewX(-10deg);
    }
}

/* =============================================================== Header End =============================================================== */