@font-face {
    font-family: "Uniform";
    font-style: normal;
    font-weight: normal;
    src: url("/font/Uniform.otf") format("opentype");
}

* {
    font-family: "Uniform", calibri;
}

:root {
    --ebcocolor: #124f90;
}

body {
    width: 100%;
}

/* ============================================================== Logo Start ============================================================== */

#product-logo {
    display: none;
    float: right;
}

#product-logo img {
    width: 280px;
    height: 70px;
}

/* ======================================================= Logo End | Carousel Start ======================================================= */

.slider {
    margin: 0 1vw 0 0.5vw;
    float: left;
    width: 29vw;
    max-width: 29vw;
    height: 29vw;
    max-width: 29vw;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.product-imgs {
    width: 29vw;
    max-width: 800px;
    height: 29vw;
    position: absolute;
    transition: all 0.5s;
}

.product-imgs img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
}

.btn:active {
    transform: scale(1.15);
}

.btn:hover {
    transform: scale(1.15);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

/* ==================================================== Carousel End | Accordion Start ==================================================== */

.container {
    margin: 4vw 0 0 0.5vw;
    margin-left: 30vw;
    width: 68vw;
    max-width: 68vw;
}

.product-title {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--ebcocolor);
}

.element {
    padding-left: 1vw;
    background: white;
    color: var(--ebcocolor);
    margin: 5px 15px 5px 0;
    border-top: 1px solid var(--ebcocolor);
    border-radius: 0px;
}

.element .question {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

#desc-title,
#specs-title,
#fit-instruct-title,
#pack-chart-title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 15px 0;
    width: 100%;
}

.question label {
    cursor: pointer;
}

/* .question label{
     box-shadow: inset 0 0 0 0 rgba(18, 79, 144, 0.9);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.question label:hover{
     box-shadow: inset 40em 0 0 0 rgba(18, 79, 144, 0.9);
    color: white;
} */

.question button {
    border: none;
    outline: none;
    background: none;
    float: right;
}

.question i {
    color: var(--ebcocolor);
    font-size: 20px;
}

#product-specs, 
#product-pack-chart {
    width: 95%;
    min-height: 5vw;
    text-align: center;
    vertical-align: middle;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

.element .answer {
    padding: 1px 20px 5px 20px;
    animation: animate .7s;
}

.hideText {
    display: none;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#product-fit-instru img {
    padding-top: 1vw;
    max-width: 80%;
}

.btn-area {
    padding: 5em 1em 1em 0em;
}

.btn-area button {
    text-transform: uppercase;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    font-size: 1em;
    font-weight: bold;
}

.btn-area button label{
    padding-left: 7px;
}

/* ========================================== Accordion End | Download Brouchure Page Start ========================================== */

iframe {
    display: none;
}

/* =================================================== Download Brouchure Page End =================================================== */